Repository deephdc/DEEP-OC-obj_detect_pytorch: changes, and which Jenkins stages are due for each by the changed paths.
All: Docker image building and delivery, Docker image for CI/CD building and delivery, Render metadata on the marketplace

Docker image building and delivery:
              steps{
                  checkout scm
                  script {
                      id = "${env.dockerhub_repo}"
                      if (env.BRANCH_NAME == 'master') {
                         id_cpu_gpu = DockerBuild(id,
  ...

Docker image for CI/CD building and delivery:
              steps{
                  checkout scm
                  script {
                      id = "${env.dockerhub_repo_cicd}"
                      if (env.BRANCH_NAME == 'master') {
                         id_cicd = DockerBuild(id,
  ...

Render metadata on the marketplace:
              steps {
                  script {
                      def job_result = JenkinsBuildJob("Pipeline-as-code/deephdc.github.io/pelican")
                      job_result_url = job_result.absoluteUrl
                  }
              }
          

update Jenkinsfile
  Jenkinsfile
Due: Docker image building and delivery, Docker image for CI/CD building and delivery

Fix docker registry repo
  metadata.json
Due: Render metadata on the marketplace

add language-pack-en for ci_cd
  Dockerfile.cicd
  README.md
  metadata.json
Due: Docker image for CI/CD building and delivery, Render metadata on the marketplace

rename tosca template, add language-pack in ci_cd
  Dockerfile.cicd
  metadata.json
Due: Docker image for CI/CD building and delivery, Render metadata on the marketplace

rename tosca
  metadata.json
Due: Render metadata on the marketplace

Update metadata.json
  metadata.json
Due: Render metadata on the marketplace

Update README.md
  README.md
Due: none

Path conditions:
  Docker image building and delivery: (any of: Dockerfile) or (any of: Jenkinsfile)
  Docker image for CI/CD building and delivery: (any of: Dockerfile.cicd) or (any of: Jenkinsfile)
  Render metadata on the marketplace: any of: metadata.json
